# JupyterLite ã§å­¦ã¶ pandas åˆç´šãƒãƒ¥ãƒ¼ãƒˆãƒªã‚¢ãƒ«

ã“ã®ãƒãƒ¼ãƒˆãƒ–ãƒƒã‚¯ã¯ã€**JupyterLiteï¼ˆãƒ–ãƒ©ã‚¦ã‚¶ã ã‘ã§å‹•ã Jupyter ç’°å¢ƒï¼‰** ä¸Šã§ã€
ãƒ‡ãƒ¼ã‚¿åˆ†æãƒ©ã‚¤ãƒ–ãƒ©ãƒª **pandas** ã®åŸºç¤ã‚’ä¸€ã‹ã‚‰å­¦ã¶ãŸã‚ã®ãƒãƒ¥ãƒ¼ãƒˆãƒªã‚¢ãƒ«ã§ã™ã€‚

## å¯¾è±¡è€…
- Python ã®åŸºæœ¬ï¼ˆå¤‰æ•°ã€ãƒªã‚¹ãƒˆã€è¾æ›¸ã€ãƒ«ãƒ¼ãƒ—ãªã©ï¼‰ã‚’ç†è§£ã—ã¦ã„ã‚‹æ–¹
- pandas ã‚’åˆã‚ã¦ä½¿ã†æ–¹ã€ã¾ãŸã¯åŸºç¤ã‚’å¾©ç¿’ã—ãŸã„æ–¹

## ã“ã®ãƒãƒ¥ãƒ¼ãƒˆãƒªã‚¢ãƒ«ã§å­¦ã¶ã“ã¨
1. pandas ã¨ã¯ä½•ã‹
2. Series ã®åŸºæœ¬æ“ä½œ
3. DataFrame ã®ä½œæˆã¨åŸºæœ¬æ“ä½œ
4. ãƒ‡ãƒ¼ã‚¿ã®èª­ã¿è¾¼ã¿ãƒ»æ›¸ãå‡ºã—
5. ãƒ‡ãƒ¼ã‚¿ã®é¸æŠã¨ã‚¹ãƒ©ã‚¤ã‚¹
6. æ¡ä»¶ã«ã‚ˆã‚‹ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°
7. åŸºæœ¬çš„ãªçµ±è¨ˆé‡ã®è¨ˆç®—
8. ãƒ‡ãƒ¼ã‚¿ã®ä¸¦ã¹æ›¿ãˆ

## 0. ç’°å¢ƒæº–å‚™ï¼ˆJupyterLite ç”¨ï¼‰

ã¾ãšã€å¿…è¦ãªãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«ã—ã¾ã™ã€‚

In [1]:
# JupyterLite ç”¨ã®ãƒ‘ãƒƒã‚±ãƒ¼ã‚¸ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«
try:
    import piplite
    await piplite.install(["numpy", "pandas", "matplotlib", "japanize-matplotlib-jlite"])
except ImportError:
    pass

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib_jlite  # æ—¥æœ¬èªè¡¨ç¤ºç”¨

# è¡¨ç¤ºè¨­å®š
pd.set_option("display.max_rows", 10)
print(f"pandas ãƒãƒ¼ã‚¸ãƒ§ãƒ³: {pd.__version__}")

pandas ãƒãƒ¼ã‚¸ãƒ§ãƒ³: 2.3.3

---
## 1. pandas ã¨ã¯ä½•ã‹

**pandas** ã¯ã€Python ã§ãƒ‡ãƒ¼ã‚¿åˆ†æã‚’è¡Œã†ãŸã‚ã®ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã§ã™ã€‚

### pandas ã®ç‰¹å¾´
- **è¡¨å½¢å¼ã®ãƒ‡ãƒ¼ã‚¿**ï¼ˆExcel ã®ã‚¹ãƒ—ãƒ¬ãƒƒãƒ‰ã‚·ãƒ¼ãƒˆã®ã‚ˆã†ãªã‚‚ã®ï¼‰ã‚’ç°¡å˜ã«æ‰±ãˆã‚‹
- CSVã€Excelã€SQL ãªã©ã•ã¾ã–ã¾ãªå½¢å¼ã®ãƒ‡ãƒ¼ã‚¿ã‚’èª­ã¿è¾¼ã‚ã‚‹
- ãƒ‡ãƒ¼ã‚¿ã®ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°ã€é›†è¨ˆã€å¤‰æ›ãŒç›´æ„Ÿçš„ã«è¡Œãˆã‚‹
- NumPy ã‚„ Matplotlib ã¨ã®é€£æºãŒè‰¯ã„

### pandas ã® 2 ã¤ã®ä¸»è¦ãªãƒ‡ãƒ¼ã‚¿æ§‹é€ 
| ãƒ‡ãƒ¼ã‚¿æ§‹é€  | èª¬æ˜ | ã‚¤ãƒ¡ãƒ¼ã‚¸ |
|-----------|------|----------|
| **Series** | 1æ¬¡å…ƒã®ãƒ©ãƒ™ãƒ«ä»˜ãé…åˆ— | Excel ã® 1 åˆ—åˆ† |
| **DataFrame** | 2æ¬¡å…ƒã®ãƒ©ãƒ™ãƒ«ä»˜ãè¡¨ | Excel ã®ã‚·ãƒ¼ãƒˆå…¨ä½“ |

---
## 2. Series ã®åŸºæœ¬

**Series** ã¯ã€ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ï¼ˆãƒ©ãƒ™ãƒ«ï¼‰ä»˜ãã® 1 æ¬¡å…ƒé…åˆ—ã§ã™ã€‚

### 2.1 Series ã®ä½œæˆ

In [3]:
# ãƒªã‚¹ãƒˆã‹ã‚‰ Series ã‚’ä½œæˆ
s1 = pd.Series([10, 20, 30, 40, 50])
print("ãƒªã‚¹ãƒˆã‹ã‚‰ä½œæˆã—ãŸ Series:")
print(s1)

ãƒªã‚¹ãƒˆã‹ã‚‰ä½œæˆã—ãŸ Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
# ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã‚’æŒ‡å®šã—ã¦ä½œæˆ
s2 = pd.Series([85, 92, 78, 95], index=["æ•°å­¦", "è‹±èª", "å›½èª", "ç†ç§‘"])
print("ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ä»˜ãã® Series:")
print(s2)

ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ä»˜ãã® Series:
æ•°å­¦    85
è‹±èª    92
å›½èª    78
ç†ç§‘    95
dtype: int64

In [5]:
# è¾æ›¸ã‹ã‚‰ Series ã‚’ä½œæˆ
prices = {"ã‚Šã‚“ã”": 150, "ãƒãƒŠãƒŠ": 100, "ã¿ã‹ã‚“": 80, "ã¶ã©ã†": 300}
s3 = pd.Series(prices)
print("è¾æ›¸ã‹ã‚‰ä½œæˆã—ãŸ Series:")
print(s3)

è¾æ›¸ã‹ã‚‰ä½œæˆã—ãŸ Series:
ã‚Šã‚“ã”    150
ãƒãƒŠãƒŠ    100
ã¿ã‹ã‚“     80
ã¶ã©ã†    300
dtype: int64

### 2.2 Series ã®åŸºæœ¬å±æ€§

In [6]:
print(f"å€¤ï¼ˆvaluesï¼‰: {s2.values}")
print(f"ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ï¼ˆindexï¼‰: {list(s2.index)}")
print(f"ãƒ‡ãƒ¼ã‚¿å‹ï¼ˆdtypeï¼‰: {s2.dtype}")
print(f"è¦ç´ æ•°ï¼ˆsizeï¼‰: {s2.size}")

å€¤ï¼ˆvaluesï¼‰: [85 92 78 95]
ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ï¼ˆindexï¼‰: ['æ•°å­¦', 'è‹±èª', 'å›½èª', 'ç†ç§‘']
ãƒ‡ãƒ¼ã‚¿å‹ï¼ˆdtypeï¼‰: int64
è¦ç´ æ•°ï¼ˆsizeï¼‰: 4

### 2.3 Series ã®è¦ç´ ã¸ã®ã‚¢ã‚¯ã‚»ã‚¹

In [7]:
# ãƒ©ãƒ™ãƒ«ã§ã‚¢ã‚¯ã‚»ã‚¹
print(f"æ•°å­¦ã®ç‚¹æ•°: {s2['æ•°å­¦']}")

# ä½ç½®ï¼ˆç•ªå·ï¼‰ã§ã‚¢ã‚¯ã‚»ã‚¹
print(f"æœ€åˆã®è¦ç´ : {s2.iloc[0]}")

# ã‚¹ãƒ©ã‚¤ã‚¹
print(f"\næœ€åˆã®2ã¤:")
print(s2.iloc[:2])

æ•°å­¦ã®ç‚¹æ•°: 85
æœ€åˆã®è¦ç´ : 85

æœ€åˆã®2ã¤:
æ•°å­¦    85
è‹±èª    92
dtype: int64

### 2.4 Series ã®æ¼”ç®—

In [8]:
# å…¨è¦ç´ ã«å¯¾ã™ã‚‹æ¼”ç®—
print("å…ƒã®ç‚¹æ•°:")
print(s2)
print("\nå…¨å“¡ã« +5 ç‚¹:")
print(s2 + 5)

print("\nç‚¹æ•°ã‚’ 100 ã§å‰²ã£ã¦å‰²åˆã«:")
print(s2 / 100)

å…ƒã®ç‚¹æ•°:
æ•°å­¦    85
è‹±èª    92
å›½èª    78
ç†ç§‘    95
dtype: int64

å…¨å“¡ã« +5 ç‚¹:
æ•°å­¦     90
è‹±èª     97
å›½èª     83
ç†ç§‘    100
dtype: int64

ç‚¹æ•°ã‚’ 100 ã§å‰²ã£ã¦å‰²åˆã«:
æ•°å­¦    0.85
è‹±èª    0.92
å›½èª    0.78
ç†ç§‘    0.95
dtype: float64

### ğŸ“ 2ç«  ç·´ç¿’å•é¡Œ

1. è‡ªåˆ†ã®å¥½ããªé£Ÿã¹ç‰©ã‚’ 5 ã¤é¸ã³ã€ãã®å€¤æ®µï¼ˆå††ï¼‰ã‚’ Series ã¨ã—ã¦ä½œæˆã—ãªã•ã„ã€‚ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã«ã¯é£Ÿã¹ç‰©ã®åå‰ã‚’ä½¿ã†ã“ã¨ã€‚
2. ä½œæˆã—ãŸ Series ã®å¹³å‡å€¤ã€æœ€å¤§å€¤ã€æœ€å°å€¤ã‚’æ±‚ã‚ãªã•ã„ï¼ˆãƒ’ãƒ³ãƒˆ: `.mean()`, `.max()`, `.min()` ãƒ¡ã‚½ãƒƒãƒ‰ã‚’ä½¿ã†ï¼‰ã€‚
3. å…¨ã¦ã®å€¤æ®µã‚’ 1.1 å€ï¼ˆæ¶ˆè²»ç¨è¾¼ã¿ï¼‰ã«ã—ãŸæ–°ã—ã„ Series ã‚’ä½œæˆã—ãªã•ã„ã€‚

In [9]:
# ç·´ç¿’å•é¡Œã®è§£ç­”æ¬„

---
## 3. DataFrame ã®ä½œæˆã¨åŸºæœ¬æ“ä½œ

**DataFrame** ã¯ã€è¡Œã¨åˆ—ã‚’æŒã¤ 2 æ¬¡å…ƒã®è¡¨å½¢å¼ãƒ‡ãƒ¼ã‚¿ã§ã™ã€‚
Excel ã®ã‚¹ãƒ—ãƒ¬ãƒƒãƒ‰ã‚·ãƒ¼ãƒˆã‚„ SQL ã®ãƒ†ãƒ¼ãƒ–ãƒ«ã«ä¼¼ã¦ã„ã¾ã™ã€‚

### 3.1 DataFrame ã®ä½œæˆæ–¹æ³•

In [10]:
# è¾æ›¸ã‹ã‚‰ DataFrame ã‚’ä½œæˆï¼ˆæœ€ã‚‚ã‚ˆãä½¿ã†æ–¹æ³•ï¼‰
data = {
    "åå‰": ["ç”°ä¸­", "ä½è—¤", "éˆ´æœ¨", "é«˜æ©‹", "ä¼Šè—¤"],
    "å¹´é½¢": [22, 25, 30, 28, 24],
    "éƒ¨ç½²": ["å–¶æ¥­", "é–‹ç™º", "å–¶æ¥­", "äººäº‹", "é–‹ç™º"],
    "çµ¦ä¸": [300000, 350000, 320000, 310000, 340000]
}

df = pd.DataFrame(data)
df

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸
0  ç”°ä¸­  22  å–¶æ¥­  300000
1  ä½è—¤  25  é–‹ç™º  350000
2  éˆ´æœ¨  30  å–¶æ¥­  320000
3  é«˜æ©‹  28  äººäº‹  310000
4  ä¼Šè—¤  24  é–‹ç™º  340000

In [11]:
# ãƒªã‚¹ãƒˆã®ãƒªã‚¹ãƒˆã‹ã‚‰ä½œæˆ
data_list = [
    ["æ±äº¬", 1400, 2194],
    ["å¤§é˜ª", 884, 1905],
    ["æ„›çŸ¥", 755, 5173],
    ["åŒ—æµ·é“", 530, 83424]
]

df2 = pd.DataFrame(data_list, columns=["éƒ½é“åºœçœŒ", "äººå£ï¼ˆä¸‡äººï¼‰", "é¢ç©ï¼ˆkmÂ²ï¼‰"])
df2

  éƒ½é“åºœçœŒ  äººå£ï¼ˆä¸‡äººï¼‰  é¢ç©ï¼ˆkmÂ²ï¼‰
0   æ±äº¬    1400     2194
1   å¤§é˜ª     884     1905
2   æ„›çŸ¥     755     5173
3  åŒ—æµ·é“     530    83424

### 3.2 DataFrame ã®åŸºæœ¬å±æ€§

In [12]:
print(f"å½¢çŠ¶ï¼ˆshapeï¼‰: {df.shape}")
print(f"åˆ—åï¼ˆcolumnsï¼‰: {list(df.columns)}")
print(f"ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ï¼ˆindexï¼‰: {list(df.index)}")
print(f"\nãƒ‡ãƒ¼ã‚¿å‹ï¼ˆdtypesï¼‰:")
print(df.dtypes)

å½¢çŠ¶ï¼ˆshapeï¼‰: (5, 4)
åˆ—åï¼ˆcolumnsï¼‰: ['åå‰', 'å¹´é½¢', 'éƒ¨ç½²', 'çµ¦ä¸']
ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ï¼ˆindexï¼‰: [0, 1, 2, 3, 4]

ãƒ‡ãƒ¼ã‚¿å‹ï¼ˆdtypesï¼‰:
åå‰    object
å¹´é½¢     int64
éƒ¨ç½²    object
çµ¦ä¸     int64
dtype: object

### 3.3 DataFrame ã®æ¦‚è¦ã‚’ç¢ºèª

In [13]:
# æœ€åˆã®æ•°è¡Œã‚’è¡¨ç¤º
print("æœ€åˆã® 3 è¡Œ:")
df.head(3)

æœ€åˆã® 3 è¡Œ:

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸
0  ç”°ä¸­  22  å–¶æ¥­  300000
1  ä½è—¤  25  é–‹ç™º  350000
2  éˆ´æœ¨  30  å–¶æ¥­  320000

In [14]:
# æœ€å¾Œã®æ•°è¡Œã‚’è¡¨ç¤º
print("æœ€å¾Œã® 2 è¡Œ:")
df.tail(2)

æœ€å¾Œã® 2 è¡Œ:

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸
3  é«˜æ©‹  28  äººäº‹  310000
4  ä¼Šè—¤  24  é–‹ç™º  340000

In [15]:
# DataFrame ã®æƒ…å ±ã‚’è¡¨ç¤º
print("DataFrame ã®æƒ…å ±:")
df.info()

DataFrame ã®æƒ…å ±:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   åå‰      5 non-null      object
 1   å¹´é½¢      5 non-null      int64
 2   éƒ¨ç½²      5 non-null      object
 3   çµ¦ä¸      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

### 3.4 åˆ—ã®è¿½åŠ ãƒ»å‰Šé™¤

In [16]:
# æ–°ã—ã„åˆ—ã‚’è¿½åŠ 
df["å…¥ç¤¾å¹´"] = [2022, 2019, 2015, 2018, 2020]
df

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022
1  ä½è—¤  25  é–‹ç™º  350000  2019
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015
3  é«˜æ©‹  28  äººäº‹  310000  2018
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020

In [17]:
# è¨ˆç®—ã§æ–°ã—ã„åˆ—ã‚’ä½œæˆï¼ˆæœˆçµ¦ã‹ã‚‰å¹´åã‚’è¨ˆç®—ï¼‰
df["å¹´å"] = df["çµ¦ä¸"] * 12
df

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
3  é«˜æ©‹  28  äººäº‹  310000  2018  3720000
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000

In [18]:
# åˆ—ã‚’å‰Šé™¤
df_dropped = df.drop(columns=["å¹´å"])
print("å¹´ååˆ—ã‚’å‰Šé™¤:")
df_dropped

å¹´ååˆ—ã‚’å‰Šé™¤:

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022
1  ä½è—¤  25  é–‹ç™º  350000  2019
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015
3  é«˜æ©‹  28  äººäº‹  310000  2018
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020

### ğŸ“ 3ç«  ç·´ç¿’å•é¡Œ

1. ä»¥ä¸‹ã®æƒ…å ±ã‚’æŒã¤ DataFrame ã‚’ä½œæˆã—ãªã•ã„:
   - åˆ—: ã€Œå•†å“åã€ã€Œã‚«ãƒ†ã‚´ãƒªã€ã€Œä¾¡æ ¼ã€ã€Œåœ¨åº«æ•°ã€
   - è¡Œ: 5 ã¤ä»¥ä¸Šã®å•†å“
2. ä½œæˆã—ãŸ DataFrame ã® `shape`, `columns`, `dtypes` ã‚’ç¢ºèªã—ãªã•ã„ã€‚
3. ã€Œä¾¡æ ¼ã€ã¨ã€Œåœ¨åº«æ•°ã€ã‚’æ›ã‘ã¦ã€Œåœ¨åº«é‡‘é¡ã€ã¨ã„ã†æ–°ã—ã„åˆ—ã‚’è¿½åŠ ã—ãªã•ã„ã€‚

In [19]:
# ç·´ç¿’å•é¡Œã®è§£ç­”æ¬„

---
## 4. ãƒ‡ãƒ¼ã‚¿ã®èª­ã¿è¾¼ã¿ãƒ»æ›¸ãå‡ºã—

pandas ã¯æ§˜ã€…ãªå½¢å¼ã®ãƒ‡ãƒ¼ã‚¿ã‚’èª­ã¿è¾¼ã‚ã¾ã™ã€‚
ã“ã“ã§ã¯æœ€ã‚‚ã‚ˆãä½¿ã† CSV å½¢å¼ã‚’ä¸­å¿ƒã«å­¦ã³ã¾ã™ã€‚

### 4.1 CSV ã¸ã®æ›¸ãå‡ºã—

In [20]:
# DataFrame ã‚’ CSV æ–‡å­—åˆ—ã«å¤‰æ›
csv_text = df.to_csv(index=False)
print("CSV å½¢å¼ã®ãƒ†ã‚­ã‚¹ãƒˆ:")
print(csv_text)

CSV å½¢å¼ã®ãƒ†ã‚­ã‚¹ãƒˆ:
åå‰,å¹´é½¢,éƒ¨ç½²,çµ¦ä¸,å…¥ç¤¾å¹´,å¹´å
ç”°ä¸­,22,å–¶æ¥­,300000,2022,3600000
ä½è—¤,25,é–‹ç™º,350000,2019,4200000
éˆ´æœ¨,30,å–¶æ¥­,320000,2015,3840000
é«˜æ©‹,28,äººäº‹,310000,2018,3720000
ä¼Šè—¤,24,é–‹ç™º,340000,2020,4080000

### 4.2 CSV ã‹ã‚‰ã®èª­ã¿è¾¼ã¿

In [21]:
from io import StringIO

# æ–‡å­—åˆ—ã‹ã‚‰ CSV ã‚’èª­ã¿è¾¼ã‚€
df_loaded = pd.read_csv(StringIO(csv_text))
print("CSV ã‹ã‚‰èª­ã¿è¾¼ã‚“ã  DataFrame:")
df_loaded

CSV ã‹ã‚‰èª­ã¿è¾¼ã‚“ã  DataFrame:

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
3  é«˜æ©‹  28  äººäº‹  310000  2018  3720000
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000

### 4.3 ã‚ˆãä½¿ã† read_csv ã®ã‚ªãƒ—ã‚·ãƒ§ãƒ³

```python
# å®Ÿéš›ã®ãƒ•ã‚¡ã‚¤ãƒ«ã‹ã‚‰èª­ã¿è¾¼ã‚€å ´åˆã®ä¾‹
df = pd.read_csv(
    "data.csv",           # ãƒ•ã‚¡ã‚¤ãƒ«ãƒ‘ã‚¹
    encoding="utf-8",     # æ–‡å­—ã‚³ãƒ¼ãƒ‰ï¼ˆæ—¥æœ¬èªã¯ utf-8 ã‹ shift_jisï¼‰
    header=0,             # ãƒ˜ãƒƒãƒ€ãƒ¼è¡Œï¼ˆ0 ãŒæœ€åˆã®è¡Œï¼‰
    index_col=None,       # ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã«ä½¿ã†åˆ—
    usecols=["A", "B"],   # èª­ã¿è¾¼ã‚€åˆ—ã‚’æŒ‡å®š
    nrows=100             # æœ€åˆã® 100 è¡Œã ã‘èª­ã¿è¾¼ã‚€
)
```

### ğŸ“ 4ç«  ç·´ç¿’å•é¡Œ

1. 3ç« ã§ä½œæˆã—ãŸå•†å“ DataFrame ã‚’ CSV å½¢å¼ã®æ–‡å­—åˆ—ã«å¤‰æ›ã—ãªã•ã„ã€‚
2. ãã® CSV æ–‡å­—åˆ—ã‚’ `pd.read_csv` ã§èª­ã¿è¾¼ã¿ã€å…ƒã® DataFrame ã¨åŒã˜ã‹ã©ã†ã‹ç¢ºèªã—ãªã•ã„ã€‚
3. `to_csv` ã§ `index=True` ã¨ `index=False` ã®é•ã„ã‚’ç¢ºèªã—ã€èª¬æ˜ã—ãªã•ã„ã€‚

In [22]:
# ç·´ç¿’å•é¡Œã®è§£ç­”æ¬„

---
## 5. ãƒ‡ãƒ¼ã‚¿ã®é¸æŠã¨ã‚¹ãƒ©ã‚¤ã‚¹

DataFrame ã‹ã‚‰ç‰¹å®šã®è¡Œã‚„åˆ—ã‚’å–ã‚Šå‡ºã™æ–¹æ³•ã‚’å­¦ã³ã¾ã™ã€‚

In [23]:
# ã‚µãƒ³ãƒ—ãƒ«ãƒ‡ãƒ¼ã‚¿ã®ç¢ºèª
df

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
3  é«˜æ©‹  28  äººäº‹  310000  2018  3720000
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000

### 5.1 åˆ—ã®é¸æŠ

In [24]:
# 1 åˆ—ã‚’é¸æŠï¼ˆSeries ãŒè¿”ã‚‹ï¼‰
df["åå‰"]

0    ç”°ä¸­
1    ä½è—¤
2    éˆ´æœ¨
3    é«˜æ©‹
4    ä¼Šè—¤
Name: åå‰, dtype: object

In [25]:
# è¤‡æ•°åˆ—ã‚’é¸æŠï¼ˆDataFrame ãŒè¿”ã‚‹ï¼‰
df[["åå‰", "å¹´é½¢", "çµ¦ä¸"]]

   åå‰  å¹´é½¢      çµ¦ä¸
0  ç”°ä¸­  22  300000
1  ä½è—¤  25  350000
2  éˆ´æœ¨  30  320000
3  é«˜æ©‹  28  310000
4  ä¼Šè—¤  24  340000

### 5.2 loc ã¨ iloc ã®é•ã„

| ãƒ¡ã‚½ãƒƒãƒ‰ | æŒ‡å®šæ–¹æ³• | èª¬æ˜ |
|---------|---------|------|
| `loc` | ãƒ©ãƒ™ãƒ« | è¡Œåãƒ»åˆ—åã§æŒ‡å®š |
| `iloc` | ä½ç½®ï¼ˆç•ªå·ï¼‰| è¡Œç•ªå·ãƒ»åˆ—ç•ªå·ã§æŒ‡å®šï¼ˆ0 ã‹ã‚‰å§‹ã¾ã‚‹ï¼‰|

In [26]:
# loc: ãƒ©ãƒ™ãƒ«ã§é¸æŠ
print("loc[0, 'åå‰']:")
print(df.loc[0, "åå‰"])

print("\nloc[1:3, ['åå‰', 'å¹´é½¢']]:")
df.loc[1:3, ["åå‰", "å¹´é½¢"]]  # 1ã€œ3 è¡Œç›®ï¼ˆ3 ã‚’å«ã‚€ï¼‰

loc[0, 'åå‰']:
ç”°ä¸­

loc[1:3, ['åå‰', 'å¹´é½¢']]:

   åå‰  å¹´é½¢
1  ä½è—¤  25
2  éˆ´æœ¨  30
3  é«˜æ©‹  28

In [27]:
# iloc: ä½ç½®ï¼ˆç•ªå·ï¼‰ã§é¸æŠ
print("iloc[0, 0]:")
print(df.iloc[0, 0])  # 0 è¡Œç›®ã€0 åˆ—ç›®

print("\niloc[1:3, 0:2]:")
df.iloc[1:3, 0:2]  # 1ã€œ2 è¡Œç›®ï¼ˆ3 ã¯å«ã¾ãªã„ï¼‰ã€0ã€œ1 åˆ—ç›®

iloc[0, 0]:
ç”°ä¸­

iloc[1:3, 0:2]:

   åå‰  å¹´é½¢
1  ä½è—¤  25
2  éˆ´æœ¨  30

### 5.3 loc ã¨ iloc ã®é‡è¦ãªé•ã„

- `loc[1:3]` â†’ 1, 2, 3 è¡Œç›®ï¼ˆ**çµ‚ç«¯ã‚’å«ã‚€**ï¼‰
- `iloc[1:3]` â†’ 1, 2 è¡Œç›®ï¼ˆ**çµ‚ç«¯ã‚’å«ã¾ãªã„**ã€Python ã®ã‚¹ãƒ©ã‚¤ã‚¹ã¨åŒã˜ï¼‰

In [28]:
print("loc[0:2] - ãƒ©ãƒ™ãƒ« 0, 1, 2 ã®è¡Œï¼ˆ3 è¡Œï¼‰:")
print(df.loc[0:2, "åå‰"].tolist())

print("\niloc[0:2] - ä½ç½® 0, 1 ã®è¡Œï¼ˆ2 è¡Œï¼‰:")
print(df.iloc[0:2, 0].tolist())

loc[0:2] - ãƒ©ãƒ™ãƒ« 0, 1, 2 ã®è¡Œï¼ˆ3 è¡Œï¼‰:
['ç”°ä¸­', 'ä½è—¤', 'éˆ´æœ¨']

iloc[0:2] - ä½ç½® 0, 1 ã®è¡Œï¼ˆ2 è¡Œï¼‰:
['ç”°ä¸­', 'ä½è—¤']

### ğŸ“ 5ç«  ç·´ç¿’å•é¡Œ

1. `df` ã‹ã‚‰ã€Œéƒ¨ç½²ã€åˆ—ã ã‘ã‚’å–ã‚Šå‡ºã—ãªã•ã„ã€‚
2. `loc` ã‚’ä½¿ã£ã¦ã€2 è¡Œç›®ï¼ˆã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ 2ï¼‰ã®ã€Œåå‰ã€ã¨ã€Œçµ¦ä¸ã€ã‚’å–ã‚Šå‡ºã—ãªã•ã„ã€‚
3. `iloc` ã‚’ä½¿ã£ã¦ã€æœ€åˆã® 3 è¡Œã€æœ€åˆã® 2 åˆ—ã‚’å–ã‚Šå‡ºã—ãªã•ã„ã€‚
4. `loc` ã¨ `iloc` ã§åŒã˜ç¯„å›²ã‚’æŒ‡å®šã—ãŸã¨ãã€çµæœãŒç•°ãªã‚‹ä¾‹ã‚’ä½œã‚Šã€ãã®ç†ç”±ã‚’èª¬æ˜ã—ãªã•ã„ã€‚

In [29]:
# ç·´ç¿’å•é¡Œã®è§£ç­”æ¬„

---
## 6. æ¡ä»¶ã«ã‚ˆã‚‹ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°

æ¡ä»¶ã‚’æŒ‡å®šã—ã¦ã€ç‰¹å®šã®è¡Œã ã‘ã‚’æŠ½å‡ºã™ã‚‹æ–¹æ³•ã‚’å­¦ã³ã¾ã™ã€‚

### 6.1 å˜ä¸€æ¡ä»¶ã§ã®ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°

In [30]:
# å¹´é½¢ãŒ 25 æ­³ä»¥ä¸Šã®äºº
df[df["å¹´é½¢"] >= 25]

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
3  é«˜æ©‹  28  äººäº‹  310000  2018  3720000

In [31]:
# æ¡ä»¶å¼ã®ä¸­èº«ã‚’ç¢ºèªï¼ˆTrue/False ã® Seriesï¼‰
print("df['å¹´é½¢'] >= 25 ã®çµæœ:")
print(df["å¹´é½¢"] >= 25)

df['å¹´é½¢'] >= 25 ã®çµæœ:
0    False
1     True
2     True
3     True
4    False
Name: å¹´é½¢, dtype: bool

In [32]:
# æ–‡å­—åˆ—ã®æ¡ä»¶
df[df["éƒ¨ç½²"] == "å–¶æ¥­"]

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000

### 6.2 è¤‡æ•°æ¡ä»¶ã§ã®ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°

è¤‡æ•°æ¡ä»¶ã‚’çµ„ã¿åˆã‚ã›ã‚‹ã¨ãã¯:
- ANDï¼ˆã‹ã¤ï¼‰: `&`
- ORï¼ˆã¾ãŸã¯ï¼‰: `|`
- NOTï¼ˆå¦å®šï¼‰: `~`

**é‡è¦**: å„æ¡ä»¶ã‚’ `()` ã§å›²ã‚€ã“ã¨ï¼

In [33]:
# å–¶æ¥­éƒ¨ ã‹ã¤ å¹´é½¢ãŒ 25 æ­³ä»¥ä¸Š
df[(df["éƒ¨ç½²"] == "å–¶æ¥­") & (df["å¹´é½¢"] >= 25)]

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000

In [34]:
# å–¶æ¥­éƒ¨ ã¾ãŸã¯ é–‹ç™ºéƒ¨
df[(df["éƒ¨ç½²"] == "å–¶æ¥­") | (df["éƒ¨ç½²"] == "é–‹ç™º")]

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000

In [35]:
# isin ã‚’ä½¿ã†ã¨è¤‡æ•°ã®å€¤ã‚’ç°¡æ½”ã«æŒ‡å®šã§ãã‚‹
df[df["éƒ¨ç½²"].isin(["å–¶æ¥­", "é–‹ç™º"])]

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000

### 6.3 query ãƒ¡ã‚½ãƒƒãƒ‰

æ–‡å­—åˆ—ã§æ¡ä»¶ã‚’æ›¸ã‘ã‚‹ä¾¿åˆ©ãªãƒ¡ã‚½ãƒƒãƒ‰ã§ã™ã€‚

In [36]:
# query ã‚’ä½¿ã£ãŸæ›¸ãæ–¹
df.query("å¹´é½¢ >= 25 and éƒ¨ç½² == 'å–¶æ¥­'")

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000

### ğŸ“ 6ç«  ç·´ç¿’å•é¡Œ

1. çµ¦ä¸ãŒ 320000 å††ä»¥ä¸Šã®äººã‚’æŠ½å‡ºã—ãªã•ã„ã€‚
2. é–‹ç™ºéƒ¨ã§ã€ã‹ã¤å…¥ç¤¾å¹´ãŒ 2020 å¹´ä»¥é™ã®äººã‚’æŠ½å‡ºã—ãªã•ã„ã€‚
3. å¹´é½¢ãŒ 25 æ­³æœªæº€ã€ã¾ãŸã¯çµ¦ä¸ãŒ 340000 å††ä»¥ä¸Šã®äººã‚’æŠ½å‡ºã—ãªã•ã„ã€‚
4. `query` ãƒ¡ã‚½ãƒƒãƒ‰ã‚’ä½¿ã£ã¦ã€3 ã¨åŒã˜æ¡ä»¶ã®ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚°ã‚’è¡Œã„ãªã•ã„ã€‚

In [37]:
# ç·´ç¿’å•é¡Œã®è§£ç­”æ¬„

---
## 7. åŸºæœ¬çš„ãªçµ±è¨ˆé‡ã®è¨ˆç®—

pandas ã§ã¯ã€åŸºæœ¬çš„ãªçµ±è¨ˆé‡ã‚’ç°¡å˜ã«è¨ˆç®—ã§ãã¾ã™ã€‚

### 7.1 describe ã§æ¦‚è¦ã‚’ç¢ºèª

In [38]:
# æ•°å€¤åˆ—ã®åŸºæœ¬çµ±è¨ˆé‡
df.describe()

              å¹´é½¢             çµ¦ä¸          å…¥ç¤¾å¹´            å¹´å
count   5.000000       5.000000     5.000000  5.000000e+00
mean   25.800000  324000.000000  2018.800000  3.888000e+06
std     3.193744   20736.441353     2.588436  2.488373e+05
min    22.000000  300000.000000  2015.000000  3.600000e+06
25%    24.000000  310000.000000  2018.000000  3.720000e+06
50%    25.000000  320000.000000  2019.000000  3.840000e+06
75%    28.000000  340000.000000  2020.000000  4.080000e+06
max    30.000000  350000.000000  2022.000000  4.200000e+06

### 7.2 å€‹åˆ¥ã®çµ±è¨ˆé‡

In [39]:
print(f"çµ¦ä¸ã®å¹³å‡: {df['çµ¦ä¸'].mean():,.0f} å††")
print(f"çµ¦ä¸ã®ä¸­å¤®å€¤: {df['çµ¦ä¸'].median():,.0f} å††")
print(f"çµ¦ä¸ã®æ¨™æº–åå·®: {df['çµ¦ä¸'].std():,.0f} å††")
print(f"çµ¦ä¸ã®æœ€å¤§å€¤: {df['çµ¦ä¸'].max():,.0f} å††")
print(f"çµ¦ä¸ã®æœ€å°å€¤: {df['çµ¦ä¸'].min():,.0f} å††")
print(f"çµ¦ä¸ã®åˆè¨ˆ: {df['çµ¦ä¸'].sum():,.0f} å††")

çµ¦ä¸ã®å¹³å‡: 324,000 å††
çµ¦ä¸ã®ä¸­å¤®å€¤: 320,000 å††
çµ¦ä¸ã®æ¨™æº–åå·®: 20,736 å††
çµ¦ä¸ã®æœ€å¤§å€¤: 350,000 å††
çµ¦ä¸ã®æœ€å°å€¤: 300,000 å††
çµ¦ä¸ã®åˆè¨ˆ: 1,620,000 å††

### 7.3 value_counts ã§ã‚«ãƒ†ã‚´ãƒªã®é »åº¦ã‚’ç¢ºèª

In [40]:
# éƒ¨ç½²ã”ã¨ã®äººæ•°
print("éƒ¨ç½²ã”ã¨ã®äººæ•°:")
print(df["éƒ¨ç½²"].value_counts())

print("\néƒ¨ç½²ã”ã¨ã®å‰²åˆ:")
print(df["éƒ¨ç½²"].value_counts(normalize=True))

éƒ¨ç½²ã”ã¨ã®äººæ•°:
éƒ¨ç½²
å–¶æ¥­    2
é–‹ç™º    2
äººäº‹    1
Name: count, dtype: int64

éƒ¨ç½²ã”ã¨ã®å‰²åˆ:
éƒ¨ç½²
å–¶æ¥­    0.4
é–‹ç™º    0.4
äººäº‹    0.2
Name: proportion, dtype: float64

### 7.4 ç›¸é–¢ä¿‚æ•°

In [41]:
# æ•°å€¤åˆ—é–“ã®ç›¸é–¢ä¿‚æ•°
df[["å¹´é½¢", "çµ¦ä¸", "å…¥ç¤¾å¹´"]].corr()

           å¹´é½¢        çµ¦ä¸       å…¥ç¤¾å¹´
å¹´é½¢   1.000000 -0.022649 -0.973774
çµ¦ä¸  -0.022649  1.000000 -0.121099
å…¥ç¤¾å¹´ -0.973774 -0.121099  1.000000

### ğŸ“ 7ç«  ç·´ç¿’å•é¡Œ

1. `df` ã®å¹´é½¢ã®å¹³å‡ã¨ä¸­å¤®å€¤ã‚’è¨ˆç®—ã—ã€ãã®å·®ã«ã¤ã„ã¦è€ƒå¯Ÿã—ãªã•ã„ã€‚
2. å…¥ç¤¾å¹´ã”ã¨ã®äººæ•°ã‚’ `value_counts` ã§æ±‚ã‚ãªã•ã„ã€‚
3. å¹´é½¢ã¨çµ¦ä¸ã®ç›¸é–¢ä¿‚æ•°ã‚’è¨ˆç®—ã—ã€ãã®æ„å‘³ã‚’è§£é‡ˆã—ãªã•ã„ã€‚
4. éƒ¨ç½²ã”ã¨ã®çµ¦ä¸ã®å¹³å‡ã‚’è¨ˆç®—ã—ãªã•ã„ï¼ˆãƒ’ãƒ³ãƒˆ: `groupby` ã‚’ä½¿ã†ï¼‰ã€‚

In [42]:
# ç·´ç¿’å•é¡Œã®è§£ç­”æ¬„

---
## 8. ãƒ‡ãƒ¼ã‚¿ã®ä¸¦ã¹æ›¿ãˆ

DataFrame ã®è¡Œã‚’ç‰¹å®šã®åˆ—ã®å€¤ã§ä¸¦ã¹æ›¿ãˆã‚‹æ–¹æ³•ã‚’å­¦ã³ã¾ã™ã€‚

### 8.1 sort_values ã§ä¸¦ã¹æ›¿ãˆ

In [43]:
# å¹´é½¢ã®æ˜‡é †ã§ä¸¦ã¹æ›¿ãˆ
df.sort_values("å¹´é½¢")

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
3  é«˜æ©‹  28  äººäº‹  310000  2018  3720000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000

In [44]:
# çµ¦ä¸ã®é™é †ã§ä¸¦ã¹æ›¿ãˆ
df.sort_values("çµ¦ä¸", ascending=False)

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
3  é«˜æ©‹  28  äººäº‹  310000  2018  3720000
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000

### 8.2 è¤‡æ•°åˆ—ã§ã®ä¸¦ã¹æ›¿ãˆ

In [45]:
# éƒ¨ç½²ã§æ˜‡é †ã€ãã®ä¸­ã§çµ¦ä¸ã§é™é †
df.sort_values(["éƒ¨ç½²", "çµ¦ä¸"], ascending=[True, False])

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
3  é«˜æ©‹  28  äººäº‹  310000  2018  3720000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
0  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000
1  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
4  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000

### 8.3 ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã®ä¸¦ã¹æ›¿ãˆ

In [46]:
# ä¸¦ã¹æ›¿ãˆå¾Œã€ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã‚’ãƒªã‚»ãƒƒãƒˆ
df_sorted = df.sort_values("çµ¦ä¸", ascending=False).reset_index(drop=True)
df_sorted

   åå‰  å¹´é½¢  éƒ¨ç½²      çµ¦ä¸   å…¥ç¤¾å¹´       å¹´å
0  ä½è—¤  25  é–‹ç™º  350000  2019  4200000
1  ä¼Šè—¤  24  é–‹ç™º  340000  2020  4080000
2  éˆ´æœ¨  30  å–¶æ¥­  320000  2015  3840000
3  é«˜æ©‹  28  äººäº‹  310000  2018  3720000
4  ç”°ä¸­  22  å–¶æ¥­  300000  2022  3600000

### ğŸ“ 8ç«  ç·´ç¿’å•é¡Œ

1. `df` ã‚’å…¥ç¤¾å¹´ã®å¤ã„é †ï¼ˆæ˜‡é †ï¼‰ã«ä¸¦ã¹æ›¿ãˆãªã•ã„ã€‚
2. éƒ¨ç½²ã§ä¸¦ã¹æ›¿ãˆã€åŒã˜éƒ¨ç½²å†…ã§ã¯å¹´é½¢ã®è‹¥ã„é †ã«ä¸¦ã¹æ›¿ãˆãªã•ã„ã€‚
3. çµ¦ä¸ã®é«˜ã„é †ã«ä¸¦ã¹æ›¿ãˆãŸå¾Œã€`reset_index` ã§ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ã‚’æŒ¯ã‚Šç›´ã—ãªã•ã„ã€‚
4. ä¸¦ã¹æ›¿ãˆå¾Œã« `head(3)` ã‚’ä½¿ã£ã¦ã€çµ¦ä¸ãƒˆãƒƒãƒ— 3 ã‚’è¡¨ç¤ºã—ãªã•ã„ã€‚

In [47]:
# ç·´ç¿’å•é¡Œã®è§£ç­”æ¬„

---
## ã¾ã¨ã‚

ã“ã®ãƒãƒ¥ãƒ¼ãƒˆãƒªã‚¢ãƒ«ã§å­¦ã‚“ã ã“ã¨ã‚’ã¾ã¨ã‚ã¾ã™ï¼š

| ãƒˆãƒ”ãƒƒã‚¯ | ä¸»ãªãƒ¡ã‚½ãƒƒãƒ‰/å±æ€§ |
|---------|------------------|
| Series ã®ä½œæˆ | `pd.Series()` |
| DataFrame ã®ä½œæˆ | `pd.DataFrame()` |
| ãƒ‡ãƒ¼ã‚¿ã®èª­ã¿è¾¼ã¿ | `pd.read_csv()` |
| ãƒ‡ãƒ¼ã‚¿ã®æ›¸ãå‡ºã— | `df.to_csv()` |
| åˆ—ã®é¸æŠ | `df["åˆ—å"]`, `df[["åˆ—1", "åˆ—2"]]` |
| è¡Œãƒ»åˆ—ã®é¸æŠ | `df.loc[]`, `df.iloc[]` |
| ãƒ•ã‚£ãƒ«ã‚¿ãƒªãƒ³ã‚° | `df[æ¡ä»¶]`, `df.query()` |
| åŸºæœ¬çµ±è¨ˆé‡ | `df.describe()`, `.mean()`, `.sum()` ãªã© |
| é »åº¦é›†è¨ˆ | `df["åˆ—"].value_counts()` |
| ä¸¦ã¹æ›¿ãˆ | `df.sort_values()` |

## æ¬¡ã®ã‚¹ãƒ†ãƒƒãƒ—

åˆç´šã‚’çµ‚ãˆãŸã‚‰ã€**pandas ä¸­ç´šãƒãƒ¥ãƒ¼ãƒˆãƒªã‚¢ãƒ«** ã§ä»¥ä¸‹ã‚’å­¦ã³ã¾ã—ã‚‡ã†ï¼š
- groupby ã«ã‚ˆã‚‹é›†è¨ˆ
- æ¬ æå€¤ã®å‡¦ç†
- ãƒ‡ãƒ¼ã‚¿ã®çµåˆï¼ˆmerge, concatï¼‰
- ãƒ‡ãƒ¼ã‚¿ã®å¤‰æ›ï¼ˆapply, mapï¼‰
- æ™‚ç³»åˆ—ãƒ‡ãƒ¼ã‚¿ã®å‡¦ç†

---
## ç·åˆæ¼”ç¿’

ä»¥ä¸‹ã®ã‚¿ã‚¹ã‚¯ã«æŒ‘æˆ¦ã—ã¦ã€å­¦ã‚“ã å†…å®¹ã‚’ç¢ºèªã—ã¾ã—ã‚‡ã†ã€‚

### èª²é¡Œï¼šå­¦ç”Ÿã®æˆç¸¾ãƒ‡ãƒ¼ã‚¿ã‚’åˆ†æã™ã‚‹

1. ä»¥ä¸‹ã®åˆ—ã‚’æŒã¤ DataFrame ã‚’ä½œæˆã—ãªã•ã„ï¼ˆ10 äººä»¥ä¸Šï¼‰ï¼š
   - å­¦ç±ç•ªå·ã€åå‰ã€å­¦å¹´ã€æ•°å­¦ã€è‹±èªã€å›½èª

2. å„ç§‘ç›®ã®å¹³å‡ç‚¹ã¨æ¨™æº–åå·®ã‚’è¨ˆç®—ã—ãªã•ã„ã€‚

3. 3 ç§‘ç›®ã®åˆè¨ˆç‚¹ã‚’è¨ˆç®—ã—ã€æ–°ã—ã„åˆ—ã¨ã—ã¦è¿½åŠ ã—ãªã•ã„ã€‚

4. åˆè¨ˆç‚¹ã®é«˜ã„é †ã«ä¸¦ã¹æ›¿ãˆã¦ã€ä¸Šä½ 3 åã‚’è¡¨ç¤ºã—ãªã•ã„ã€‚

5. å­¦å¹´ã”ã¨ã®åˆè¨ˆç‚¹ã®å¹³å‡ã‚’è¨ˆç®—ã—ãªã•ã„ã€‚

6. æ•°å­¦ãŒ 80 ç‚¹ä»¥ä¸Šã€ã‹ã¤è‹±èªãŒ 70 ç‚¹ä»¥ä¸Šã®å­¦ç”Ÿã‚’æŠ½å‡ºã—ãªã•ã„ã€‚

In [48]:
# ç·åˆæ¼”ç¿’ã®è§£ç­”æ¬„